<nav>
  <ul>
    <li><a href="/">Inici</a></li>
    <li><a href="/contactes/2">Fitxa</a></li>
    <li><a href="/contactes/an">Buscar</a></li>
    <li><a href="/contactes/crear">Afegir</a></li>
  </ul>
</nav>