<!DOCTYPE html>
<html lang="ca">
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}Aplicació Symfony{% endblock %}</title>
    {% block stylesheets %}
      <link href="{{ asset('styles/estils.css') }}" rel="stylesheet" />
    {% endblock %}  
  </head>
  <body>

    {# Incloem el menú com una plantilla parcial #}
    {% include 'partials/_menu.html.twig' %}

    <main>
        {% block contingut %}
          <!-- Contingut específic de cada pàgina -->
        {% endblock %}
    </main>

    {# Incloem el peu de pàgina #}
    {% include 'partials/_footer.html.twig' %}

  </body>
</html>