{% extends 'base.html.twig' %}

{% block title %}Pàgina principal{% endblock %}

{% block contingut %}
  <h1>Benvinguts a la pàgina principal</h1>
  <p>Aquesta pàgina utilitza el menú i el peu de pàgina amb include.</p>
{% endblock %}